
@mixin todoContainer {
    height: 600px;
    width: 40%;
    box-shadow: 1px 2px 10px rgb(136, 135, 135);
    background: rgba(235, 235, 235, 0.7);
    border-radius: 10px;
    display: flex;
    align-items: left;
    flex-direction: column;
  }

  .todo-list{
      @include todoContainer();
      margin-left:10rem;

      h3{
          text-align:center;
          padding-bottom: 20px;
          border-bottom: 2px solid;
          color: rgb(242, 182, 231);
      }

      &--container{
          list-style: none;
          display:flex;
          justify-content: center;
          flex-direction:column;
          align-items: center;
          overflow-y: scroll;
          padding:0;
          
          

          li {
              background: #ffffff;
              height:60px;
              margin-bottom:10px;
              width:96%;
              margin-left:0;
              border-radius:5px;
              display:flex;
              flex-direction: row;
              justify-content: left;
              align-items: center;
              box-shadow: 0 1px 1px rgb(136, 135, 135);
              transition: all 30s;

              h5{
                  font-size:96%;
                  color: rgb(88, 88, 88);
              }
              h5 span{
                  font-weight:200;
                  margin:15px 0;
                  font-size:90%;
              }


          }

         
      }


      

.done{
    text-decoration: line-through;
}

  }


  